.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: #ffffff;
}

/* IMAGE FLIP */
.coin-flip {
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  animation: coinSpin 1.2s infinite ease-in-out;
}

.coin-flip img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}

/* COIN FLIP ANIMATION */
@keyframes coinSpin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}