.admin-add-package {
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
  font-family: "Lexend", sans-serif;
}

.pkg-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pkg-form input,
.pkg-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pkg-form textarea {
  height: 120px;
  resize: none;
}

.row-input {
  display: flex;
  gap: 10px;
}

.row-input button {
  padding: 10px 15px;
  background: black;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #efefef;
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tag button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.submit-btn {
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pkg-message {
  margin-bottom: 15px;
  padding: 10px;
  background: #d4edda;
  color: #155724;
  border-radius: 6px;
}


.pkg-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.small-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 6px;
  border: 1px solid #ddd;
}

.services-list ul {
  margin: 5px 0 10px 15px;
  padding: 0;
}

.images-list {
  margin-bottom: 10px;
}

.package-card {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  border: 1px solid #ececec;
}
