/* src/styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}



h1,h2,h3,h4,h5,h6{
  font-family: "Reddit Sans", sans-serif;
}

body {
  
  overflow-x: hidden;
  color: #111;
}

a {
  color: #103B65;
  text-decoration: none;
}

button, input, select {
  font-family: inherit;
}
