/* src/styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  
  overflow-x: hidden;
  color: #111;
}

a {
  color: #103B65;
  text-decoration: none;
}

button, input, select {
  font-family: inherit;
}
