.signup-container {
  max-width: 1100px;
  margin: 60px auto;
  background: #ffffff;
  border-radius: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 650px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
}

/* =========================
   RIGHT SIDE (FORM)
========================= */
.signup-container > h1 {
  grid-column: 2 / 3;
  padding: 30px 70px 0;
  font-size: 64px;
  font-weight: 800;
  color: #272727;
}

/* Welcome text */
.signup-container > h1::after {
  font-weight: 400;
    content: "Welcome!\A Create your Rapid Star Wash account to book services faster, save your details, and access exclusive offers.";
    white-space: pre-line;
    display: block;
    font-size: 16px;
    color: #555;
    line-height: 1.1;
    margin-top: 10px;
}

.signup-form {
      grid-column: 2 / 3;
    padding: 20px 70px 20px;
    display: flex;
    flex-direction: column;
}

/* =========================
   INPUTS
========================= */
.signup-form label {
  font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #272727;
}

.signup-form input {
  height: 44px;
  padding: 0 14px;
  border-radius: 10px;
  border: none;
  background: #f3f3f3;
  font-size: 14px;
  margin-bottom: 6px;
}

.signup-form input::placeholder {
  color: #9a9a9a;
}

.signup-form input:focus {
  outline: 2px solid #c70000;
}

/* =========================
   BUTTON
========================= */
.signup-form button {
  margin-top: 20px;
  height: 44px;
  background: #9a0002;
  color: #fff;
  border-radius: 24px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background: #b10002;
}

.signup-form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* =========================
   MESSAGES
========================= */
.error-msg {
  color: #c70000;
  font-size: 12px;
  margin: -8px 0 10px;
}

.signup-success {
  color: #0a7d2f;
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}

.auth-switch {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
}

.auth-switch a {
  color: #2b6cb0;
  text-decoration: none;
}

/* =========================
   LEFT SIDE IMAGE ONLY
========================= */
.signup-container::before {
  margin: 25px;
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background: url("../../../public/images/signup-car.png") no-repeat bottom center;
  background-size: 100%;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
  .signup-container {
    grid-template-columns: 1fr;
  }

  .signup-container::before {
    display: none;
  }

  .signup-container > h1,
  .signup-form {
    grid-column: 1 / 2;
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .signup-container > h1 {
    font-size: 32px;
  }

  .signup-form {
    padding: 30px 20px;
  }
}