.admin-layout {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}

/* ---------------- SIDEBAR ---------------- */
.admin-sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.admin-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.admin-menu {
  list-style: none;
  padding: 0;
  flex: 1;
}

.admin-menu li {
  margin-bottom: 18px;
  padding: 10px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.admin-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.admin-menu li:hover {
  background: #222;
}

/* Highlight active menu */
.admin-menu li.active {
  background: #ffb400;
}

.admin-menu li.active a {
  color: #000;
  font-weight: 600;
}

/* ---------------- LOGOUT BUTTON ---------------- */
.admin-logout-btn {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
  font-size: 15px;
  transition: 0.3s;
}

.admin-logout-btn:hover {
  background: #c0392b;
}

/* ---------------- MAIN CONTENT ---------------- */
.admin-main {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}


.dropdown-btn {
  width: 100%;
  /* padding: 12px 15px; */
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

/* .dropdown-btn:hover {
  background: rgba(255,255,255,0.1);
} */

.dropdown-menu {
  padding-left: 22px;
  margin-top: 5px;
}

.dropdown-menu li a {
  /* display: block; */
  padding: 8px 10px;
  color: #cdd4df;
}

/* .dropdown-menu li a:hover { */
  /* background: rgba(255,255,255,0.15); */
  /* border-radius: 6px; */
/* } */

.arrow {
  font-size: 17px;
}

.active > a {
  /* background: #4aa3ff !important; */
  color: #fff !important;
  border-radius: 6px;
}