/* PAGE */
.admin-services-page {
  padding: 30px;
  background: #f6f7f9;
  font-family: "Lexend", sans-serif;
}

/* HEADER */
.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.services-header h1 {
  font-size: 24px;
    font-weight: 500;
    color: black;
}

/* ADD SERVICE BUTTON */
.add-service-btn {
  background: #009A05;
  color: #fff;
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

.add-service-btn:hover {
  background: #17a74a;
}

.add-service {
  grid-column: 1 / -1;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* FORM */
.admin-form {
  background: #ffffff;
  border-radius: 14px;
  padding: 24px 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-bottom: 30px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

/* INPUTS */
.admin-form input,
.admin-form textarea,
.admin-form select {
  background: #f1f1f1;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 13px;
  color: #333;
  outline: none;
}

.admin-form textarea {
  resize: none;
}

/* INPUT PLACEHOLDER */
.admin-form input::placeholder,
.admin-form textarea::placeholder {
  color: #666;
}

/* FINAL PRICE */
.admin-form p {
  grid-column: 2;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
}

/* SUBMIT BUTTON */
.admin-form .admin-btn {
  grid-column: 2;
  /* justify-self: end; */
  background: #0b2d52;
  color: #fff;
  padding: 10px 26px;
  font-size: 13px;
  border-radius: 8px;
}

/* CANCEL BUTTON */
.admin-form .admin-btn.cancel {
  background: #888;
  margin-left: 10px;
}

/* IMAGE PREVIEW */
.image-preview {
  grid-column: 1 / -1;
  display: flex;
  gap: 10px;
}

.image-preview img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

/* TABLE */
.admin-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: #fffaf3;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

.admin-table th {
  background: #0b2d52;
  color: #fff;
  padding: 12px 14px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.admin-table td {
  padding: 12px 14px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}

/* IMAGES */
.table-image {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 6px;
}

/* ACTION BUTTONS */
.admin-btn {
  padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 6px;
}

.admin-btn.edit {
  background: #ffa700;
  color: #fff;
}

.admin-btn.danger {
  background: #c62828;
  color: #fff;
}

.admin-btn.cancel {
  background: #888;
  color: #fff;
}
