.settings-logo-preview {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding: 10px;
}

.upload-btn {
  margin: 10px 0;
  padding: 8px 14px;
  background: #0066ff;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}



.admin-settings {
  width: 95%;
  max-width: 750px;
  margin: 40px auto;
  padding-bottom: 40px;
  font-family: "Lexend", sans-serif;
}

.admin-settings h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.settings-card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.settings-card h3 {
  margin-bottom: 15px;
  color: #1f2c3a;
}

.settings-card p {
  margin-bottom: 8px;
  font-size: 16px;
}

.settings-card label {
  font-weight: 600;
  margin-top: 12px;
}

.settings-card input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 12px;
}

.primary-btn {
  padding: 10px 18px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.25s;
}

.primary-btn:hover {
  background: #0066d3;
}

.cancel-btn {
  padding: 10px 18px;
  background: #9A0002;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}

.cancel-btn:hover {
  background: #5a6169;
}

.danger-zone {
  border-left: 4px solid #dc3545;
}

.delete-btn {
  margin-top: 10px;
  padding: 10px 18px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b52a37;
}

.settings-message {
  margin-bottom: 20px;
  padding: 12px;
  background: #e7f3ff;
  border-left: 4px solid #007bff;
  color: #0b3d85;
  border-radius: 8px;
}
